body {
    margin: 0;
    height: 100vh;
}

#content {
    height: 100%;
    background-color: #192734;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 80px 1fr;
}

#bannerContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #1C9BEF;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}

#bannerContainer > h1 {
    display: flex;
    margin: 0;
    color: white;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-self: center;
}

#sidebarBtn {
    background: none;
    border: none;
    justify-self: left;
    padding-left: 25px;
}

#sidebarBtn > img {
    height: 35px;
    width: 35px;
}

#todayDate {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-self: right;
    padding-right: 25px;
}

#leftContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    height: 91vh;
    background-color: #15202B;
    padding: 15px;
    padding-left: 25px;
}

#homeContainer {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

#home {
    display: grid;
    grid-template-rows: repeat(1 1fr);
    row-gap: 10px;
}

#homeText, #projectText {
    width: 90%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    justify-self: left;
    height: fit-content;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#inbox {
    display: flex;
    align-items: center;
    grid-row-start: 2;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#inbox > img {
    height: 33px;
    width: 33px;
    padding-right: 15px;
    padding-bottom: 3px;
}

#today {
    display: flex;
    align-items: center;
    grid-row-start: 3;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#today > img {
    height: 37px;
    width: 37px;
    padding-right: 15px;
    padding-bottom: 3px;
}

#next7 {
    display: flex;
    align-items: center;
    grid-row-start: 4;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#next7 > img {
    height: 37px;
    width: 37px;
    padding-right: 15px;
    padding-bottom: 3px;
}

#important {
    display: flex;
    align-items: center;
    grid-row-start: 5;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

#important > img {
    height: 37px;
    width: 37px;
    padding-right: 15px;
    padding-bottom: 3px;
}

#projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 15px;
}

#projectImg {
    height: 30px;
    width: 30px;
    display: flex;
}

.project {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    column-gap: 15px;
    grid-row-start: 2;
    height: 40px;
    width: 250px;
    cursor: pointer;
    align-items: center;
}

#projectTitle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#menuVert {
    width: 22px;
    height: 22px;
}

#addProject > img {
    height: 30px;
    width: 30px;
    padding-right: 15px;
    padding-bottom: 3px;
}

#addProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    width: 100%;
    column-gap: 15px;
    cursor: pointer;
    height: 40px;
    order: 999;
}

.tile {
    display: flex;
    height: 50px;
    width: 260px;
}

.tile:hover {
    background-color: #192734;
    border-radius: 5px;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleContainer {
    display: flex;
    align-items: center;
    height: 155px;
    width: 90%;
    background-color: #1C9BEF;
    border-radius: 5px;
    margin-top: 35px;
}
 
#allTasksTitle {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    padding-left: 25px;
}

.taskContainer, #taskContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: fit-content;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 35px;
}

#completeTaskBtn {
    height: 25px;
    width: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#taskTitle {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-top: 10px;
}

#taskDesc {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding-left: 15px;
    padding-bottom: 10px;
}

#textContainer {
    width: 100%;
}

#dateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 125px;
    border-radius: 12px;
    border: 1px solid white;
    margin-right: 17px;
}

#dateText {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

#importantBtn {
    height: 30px;
    padding-right: 15px;
    padding-bottom: 2px;
}

#editBtn {
    height: 28px;
    padding-right: 13px;
    cursor: pointer;
}

#editBtnContainer {
    display: flex;
    height: fit-content;
    position: relative;
}

#editTaskBtn {
    background-color: #263746;
    border: none;
    height: 50%;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    border-radius: 3px;
}

#editTaskBtn:hover {
    background-color: #192734;
    border: 3px solid #263746;
    border-radius: 3px;
}

#deleteTaskBtn {
    background-color: #263746;
    border: none;
    height: 50%;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

#deleteTaskBtn:hover {
    background-color: #192734;
    border: 3px solid #263746;
    border-radius: 3px;
}

#projectForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    order: 998;
}

#projectForm input[type="text"] {
    width: 250px;
    height: 26px;
}

#projectForm button[type="submit"] {
    background-color: green;
    width: 70px;
    height: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 55px;
}

#renameForm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

#renameForm input[type="text"] {
    width: 80px;
    height: 26px;
}

#renameForm button[type="submit"] {
    background-color: green;
    width: 70px;
    height: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

#cancel {
    background-color: red;
    width: 70px;
    height: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.selected {
    background-color: #1C9BEF;
    border-radius: 5px;
    padding-right: 20px;
}

#editContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 90px;
    opacity: 100%;
    background-color:#192734;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

#editTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 90px;
    opacity: 100%;
    background-color:#15202B;
    position: absolute;
    bottom: 35px;
    right: 20px;
}

#menuvertWrap {
    display: flex;
    height: 24px;
    width: 24px;
    position: relative;
}

#renameBtn {
    background-color: #192734;
    border: none;
    height: 50%;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

#renameBtn:hover {
    background-color: #15202B;
    border: 3px solid #192734;
    border-radius: 3px;
}

#deleteBtn {
    background-color: #192734;
    border: none;
    height: 50%;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

#deleteBtn:hover {
    background-color: #15202B;
    border: 3px solid #192734;
    border-radius: 3px;
}

#addTaskContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 35px;
    cursor: pointer;
    order: 999;
}

#addBtn {
    height: 35px;
    width: 35px;
}

#addTaskText {
    padding-left: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
}

#taskFormContainer {
    display: flex;
    justify-content: center;
    order: 998;
    height: fit-content;
    width: 90%;
    margin-top: 35px;
    background-color: #15202B;
}

#taskForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

#taskForm > label {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
}

#taskForm > input {
    width: 100%;
    height: 20px;
}

#taskForm button[type="submit"] {
    background-color: green;
    width: 70px;
    height: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}

#taskForm > button {
    margin: 10px
}

.hidden {
    display: none;
}

.selected:hover {
    background-color: #13669E;
}